{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block content %}

    <h1>404 - The requested page could not be found.</h1>
    <p>
        If you entered the address manually, make sure that no typos are included.<br />
        Otherwise, we apologize for the inconvenience. We'd appreciate if you could <a href="mailto:contact@similarseri.es?subject=Clicked broken link">tell us how you got here</a>.
    </p>

{% endblock %}
