{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block content %}

    <h1>500 - An internal server error occurred.</h1>
    <p>
        We're very sorry, something went terribly wrong.<br />
        Please try again later, we're working on fixing the problem.
    </p>

{% endblock %}
