{{#each suggestions }}
<div class="tv-show-item col-sm-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row-fluid">
                <div class="pull-left">
                    {{ posterUrl this }}
                </div>
                <div class="content">
                    <h3>{{ show.name }} <small>({{ show.airYear }})</small></h3>
                    <p>{{ truncate show.overview 110 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each }}


