.tv-show-item {
  border: 1px solid #ddd;
  margin: 0 15px 20px 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 15px;

  .details {
    padding-bottom: 35px;
  }

  .actions {
    position: absolute;
    right: 15px;
    bottom:15px;
  }
}

@media(min-width:768px){
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}
