{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@SunnerbergSimilarSeriesBundle/Resources/public/css/Tools/typeahead.css'
        '@SunnerbergSimilarSeriesBundle/Resources/public/css/Find/suggestions.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Add TV-shows that you've enjoyed to get personalised suggestions</div>
        <div class="panel-body panel-default">
            <input id="show-search" class="typeahead" type="text" placeholder="Find shows">
        </div>
        <ul class="list-group tv-show-add-queue">
        </ul>
    </div>

    <div id="suggestions">
    </div>
{% endblock %}

