{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@SunnerbergSimilarSeriesBundle/Resources/public/css/typeahead.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <input id="show-search" class="typeahead form-control" type="text" placeholder="Find shows">

    <h2>Suggestions generated for you</h2>
    <div id="suggestions"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/sunnerbergsimilarseries/js/main.js') }}"></script>
{% endblock %}
