{% extends '@SunnerbergSimilarSeries/base.html.twig' %}
{% block body %}
<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    <input class="typeahead" type="text" placeholder="States of USA">
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/sunnerbergsimilarseries/js/Default/autocomplete.js') }}"></script>
{% endblock %}