{% extends '@SunnerbergSimilarSeries/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@SunnerbergSimilarSeriesBundle/Resources/public/css/typeahead.css'
        '@SunnerbergSimilarSeriesBundle/Resources/public/css/Default/suggestions.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Add TV-shows that you've enjoyed to get personalised suggestions</div>
        <div class="panel-body panel-default">
            <input id="show-search" class="typeahead" type="text" placeholder="Find shows">
        </div>
        <ul class="list-group tv-show-add-queue">
        </ul>
    </div>

    <div id="suggestions">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/requirejs/require.js') }}" data-main="{{ asset('bundles/sunnerbergsimilarseries/js/main.js') }}"></script>
{% endblock %}
