@navbar-default-background: #000;
@navbar-default-color: #fff;

.align-bottom {
    vertical-align: bottom;
}

.top-navbar {
  background-color: @navbar-default-background !important;
  color: @navbar-default-color;

  .navbar-nav > li > a {
    color:@navbar-default-color;
  }

  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: @navbar-default-color;
    background-color:transparent;
  }

  .navbar-brand {
    color:#eeeeee;

    img {
      margin-top:-3px;
      display: inline;
      margin-right: 5px;
    }
  }

  .dropdown-menu {
    background: @navbar-default-background;
  }
  .dropdown-menu > li > a {
    color: @navbar-default-color
  }
}

.navbar-right {
  i {
    font-size: 20px;
  }
}

.loading-indicator {
  width: 100%;
}
